#chart {
  margin-top: 40px;
}
/* ScheduleDetailのアニメーション */
.v-enter-from {
  opacity: 0;
  top: 300px;
}

.v-enter-to {
  opacity: 1;
  top: 80px;
}
.v-enter-active {
  transition: all 400ms;
}

.v-leave-from {
  opacity: 1;
  top: 80px;
}

.v-leave-to {
  opacity: 0;
  top: 300px;

}

.v-leave-active {
  transition: all 400ms;
}