.optionWrapper{
  opacity: 1;
  height: 100%;
}
header {
  margin: 35px 0 0 0;
  display: flex;
  justify-content: space-between;
}
h1.headerTitle {
  margin: 0 142px 0 0;
}
img.arrow {
  margin: 7px 0 0 38px;
}
.customOptionHeader {
  margin: 43px 0 0 0;
  display: flex;
  justify-content: space-between;
}
h3.customOptionTitle{
  font-weight: 400;
  text-align: left;
  margin: 0 0 0 20px;
}
button.LandscapeButton.ResetingButton{
  width: 85px;
  height: 20px;
  margin: 2px 15px 0 0;
  font-size: 8px;
  color: #9f9f9f;
}
.logout.Section{
  margin:45px 0 0 0 ;
}
.Section{
  margin:35px 0 0 0 ;
}
h3.Title{
  font-weight: 400;
  text-align: left;
  margin: 0 0 0 20px;
}
.Logout.LandscapeButton {
  display: block;
  margin: 15px auto 0 17px;
}

.terms.LandscapeButton {
  display: block;
  margin: 15px auto 0 17px;
  width: 103px;
  height: 24px;
  border-radius: 8px;
  font-size: 9px;
}
.delete.Section{
  margin:35px 0 50px 0 ;
}
