.menu {
  width: 353px;
  height: 213px;
  background: linear-gradient(30deg, #fdfdfd, #fcfcfc);
  box-shadow: 3px 3px 6px rgba(3, 3, 6, 0.25),
    -1.5px -1.5px 6px rgba(248, 253, 255, 0.9);
  border-radius: 16px;
  position: fixed;
  top: 190px;
  left: calc(50% - 351px / 2);
  z-index: 3;
}
.menuStr {
	margin: 41px auto 34px auto;
	line-height: 29px;
}
button.LandscapeButton.Login {
	width: 146px;
	height: 46px;
	font-size: 13px;
}
.tutorial-enter-from {
  opacity: 0;
  top: 300px;
}

.tutorial-enter-to {
  opacity: 1;
  top: 190px;
}
.tutorial-enter-active {
  transition: all 600ms;
}

.tutorial-leave-from {
  opacity: 1;
  top: 190px;
}

.tutorial-leave-to {
  opacity: 0;
  top: 300px;
}

.tutorial-leave-active {
  transition: all 600ms;
}