.menu {
  width: 353px;
  height: 213px;
  background: linear-gradient(30deg, #fdfdfd, #fcfcfc);
  box-shadow: 3px 3px 6px rgba(3, 3, 6, 0.25),
    -1.5px -1.5px 6px rgba(248, 253, 255, 0.9);
  border-radius: 16px;
  position: fixed;
  top: 190px;
  left: calc(50% - 351px / 2);
}
.menuStr {
	margin: 41px auto 34px auto;
	line-height: 29px;
}
button.LandscapeButton.Login {
	width: 146px;
	height: 46px;
	font-size: 13px;
}
